
# URL to redirect to
REDIRECT_URL="https://t.me/+geMbCXIbpSVmN2M8"

# Port this service will run on on the host
SERVICE_PORT=8036

# Used to name the containers, for example
COMPOSE_PROJECT_NAME="telegram.mieuxvoter.fr"
